FORMAT: 1A
HOST: https://arvo.erp.uno

# AR.VO Computer API

## Authority [/api/authority]

### Create Prescription [POST]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
        + `status` (string, required)
        + `signature` (string, required)

+ Response 201 (application/json)
    + Attributes (`Prescription`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Check Certificate [PATCH {id}/check]

+ Request (application/json)
    + Attributes
        + `id`: `a48cc83a-7aad-47c6-9487-2a566dc669a7` (string, required)
        + `status` (string, required)
        + `changed_at` (string, required)

+ Response 200 (application/json)
    + Attributes (`Prescription`)

+ Response 204

+ Response 500 (application/json)
    + Attributes (`Error`)

### Update Certificate [PATCH {id}/update]

+ Request (application/json)
    + Attributes
        + `id`: `a48cc83a-7aad-47c6-9487-2a566dc669a7` (string, required)
        + `status` (string, required)
        + `changed_at` (string, required)

+ Response 200 (application/json)
    + Attributes (`Prescription`)

+ Response 204

+ Response 500 (application/json)
    + Attributes (`Error`)

### Revoke Certificate [DELETE {id}/revoke]

+ Request (application/json)
    + Attributes
        + `id`: `a48cc83a-7aad-47c6-9487-2a566dc669a7` (string, required)
        + `status` (string, required)
        + `changed_at` (string, required)

+ Response 200 (application/json)
    + Attributes (`Prescription`)

+ Response 204

+ Response 500 (application/json)
    + Attributes (`Error`)

## Memory [/api/memory]

## Logic [/api/logic]

## Store [/api/store]

# Data Structures

## Certificate (object)
+ `id`: `984375` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
+ `status` (string, required)
+ `content_info` (string, required)

## ValidationError (Error)
- `type`: `validation_error` (fixed)
- `message`: `Validation failed` (string, required)
- `errors` (object, required)

## Error (object)
+ `type`: `example_error` (string, required) - Machine-readable error type
+ `message`: `Example error message` (string, required) - Human-readable error description
