FORMAT: 1A
HOST: https://arvo.computer

# AR.VO HTTP API

## Authority [/api/authority]

### Create Certificate [POST]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
        + `status` (string, required)
        + `signature` (string, required)

+ Response 201 (application/json)
    + Attributes (`Certificate`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Check Certificate [PATCH /api/authority/{id}/check]

+ Request (application/json)
    + Attributes
        + `id`: `a48cc83a-7aad-47c6-9487-2a566dc669a7` (string, required)
        + `status` (string, required)
        + `changed_at` (string, required)

+ Response 200 (application/json)
    + Attributes (`Certificate`)

+ Response 204

+ Response 500 (application/json)
    + Attributes (`Error`)

### Update Certificate [PATCH /api/authority/{id}/update]

+ Request (application/json)
    + Attributes
        + `id`: `a48cc83a-7aad-47c6-9487-2a566dc669a7` (string, required)
        + `status` (string, required)
        + `changed_at` (string, required)

+ Response 200 (application/json)
    + Attributes (`Certificate`)

+ Response 204

+ Response 500 (application/json)
    + Attributes (`Error`)

### Revoke Certificate [DELETE /api/authority/{id}/revoke]

+ Request (application/json)
    + Attributes
        + `id`: `a48cc83a-7aad-47c6-9487-2a566dc669a7` (string, required)
        + `status` (string, required)
        + `changed_at` (string, required)

+ Response 200 (application/json)
    + Attributes (`Certificate`)

+ Response 204

+ Response 500 (application/json)
    + Attributes (`Error`)

## Memory [/api/memory]

### Create Resource [POST]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
        + `resourceType` (string, required) - AR.VO Schema Object
        + `status` (string, required)
        + `signature` (string, required)

+ Response 201 (application/json)
    + Attributes (`Resource`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Retrieve Resource [PATCH /api/memory/{id}/get]

+ Request (application/json)
    + Attributes
        + `id`: `a48cc83a-7aad-47c6-9487-2a566dc669a7` (string, required)
        + `status` (string, required)
        + `changed_at` (string, required)

+ Response 200 (application/json)
    + Attributes (`Certificate`)

+ Response 204

+ Response 500 (application/json)
    + Attributes (`Error`)

### Update Resource [PATCH /api/memory/{id}/update]

+ Request (application/json)
    + Attributes (`Resource`)

+ Response 200 (application/json)
    + Attributes (`Resource`)

+ Response 204

+ Response 500 (application/json)
    + Attributes (`Error`)

### Deallocate Resource [POST /api/memory/{id}/deallocate]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of the process

+ Response 201 (application/json)
    + Attributes (`Resource`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

## Logic [/api/logic]

### Create Process Definition [POST /api/logic/definition]

+ Request (application/json)
    + Attributes (`ProcessDefinition`)

+ Response 201 (application/json)
    + Attributes (`ProcessDefinition`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Create Process [POST /api/logic]

+ Request (application/json)
    + Attributes (`Process`)

+ Response 201 (application/json)
    + Attributes (`Process`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Process Edge [POST /api/logic/{id}/next]

+ Request (application/json)
    + Attributes (`Process`)

+ Response 201 (application/json)
    + Attributes (`Edge`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Retrieve Process [POST /api/logic/{id}/get]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of the process

+ Response 201 (application/json)
    + Attributes (`Process`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Suspend Process [POST /api/logic/{id}/suspend]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of the process

+ Response 201 (application/json)
    + Attributes (`Process`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Resume Process [POST /api/logic/{id}/resume]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of the process

+ Response 201 (application/json)
    + Attributes (`Process`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Terminate Process [POST /api/logic/{id}/terminate]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of the process

+ Response 201 (application/json)
    + Attributes (`Process`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

## Store [/api/store]

### Publish Gem [POST /api/store]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of the process

+ Response 201 (application/json)
    + Attributes (`Gem`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Retrieve Gem [GET /api/store/{id}/get]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of the process

+ Response 201 (application/json)
    + Attributes (`Gem`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Activate Gem [PUT /api/store/{id}/activate]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of the process

+ Response 201 (application/json)
    + Attributes (`Process`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

### Retire Gem [POST /api/store/{id}/retire]

+ Request (application/json)
    + Attributes (object)
        + `id`: `7017480851` (number, required) - Identifier of the process

+ Response 201 (application/json)
    + Attributes (`Gem`)

+ Response 400 (application/json)
    + Attributes (`Error`)

+ Response 422 (application/json)
    + Attributes (`ValidationError`)

+ Response 500 (application/json)
    + Attributes (`Error`)

# Data Structures

## Certificate (object)
+ `id`: `984375` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
+ `status` (string, required)
+ `content_info` (string, required)

## Resource (object)
+ `id`: `984375` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
+ `status` (string, required)
+ `parent` (string, required)

## Process (object)
+ `id`: `984375` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
+ `status` (string, required)
+ `parent` (string, required)

## Edge (object)
+ `id`: `984375` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
+ `status` (string, required)
+ `parent` (string, required)

## Gem (object)
+ `id`: `984375` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
+ `status` (string, required)
+ `parent` (string, required)

## ProcessDefinition (object)
+ `id`: `984375` (number, required) - Identifier of person that is accosiated with user who initiated access token generation
+ `status` (string, required)
+ `parent` (string, required)

## ValidationError (Error)
- `type`: `validation_error` (fixed)
- `message`: `Validation failed` (string, required)
- `errors` (object, required)

## Error (object)
+ `type`: `example_error` (string, required) - Machine-readable error type
+ `message`: `Example error message` (string, required) - Human-readable error description
